//
   Created by sss on 2017-03-09.

doctype html
html
    head
        meta(charset='utf-8')
    body
        h1
            a(href='/topic') Server Side JavaScript
        ul
            each topic in topics
                li
                    - _id = encodeURIComponent(topic._id)
                    a(href='/topic/' + _id)= topic.title
        article
           h1= '장말 삭제하시겠습니까?  ' + topic.title
           - _id = encodeURIComponent(topic._id)
           form(action='/topic/'+_id+'/delete' method='post')
               p
                   input(type='submit' value='YES')
               a(href='/topic/' +_id) NO
